{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            {% if form %}
                <form method="POST" action="" >{% csrf_token %}
                    {{form|crispy}}
                    <input id="post-comment" post-url="{% url 'comments:thread' 'post' instance.id %}" class="btn btn-default" type="submit" value="Add Comment" />
                </form>
            {% endif %}
            {% if instance.comments %}
                <div>
                    <br><br>
                    <strong>{{instance.comment_count}} Comments</strong><span class="pull-right"><a href="{% url 'comments:thread' 'post' instance.id %}"> View Comments</a></span>
                    {% for comment in instance.comments %}
                        <hr >
                        <blockquote>
                            <p>{{comment.body}}</p>
                            <footer>via {{comment.user.username}} | {{comment.date_added|timesince}} ago</footer>
                            {% for child in comment.children %}
                            <blockquote>
                                <p>{{child.body}}</p>
                                <footer>via {{child.user.username}} | {{child.date_added|timesince}} ago</footer>
                            </blockquote>
                            {% endfor %}
                        </blockquote>
                        {% if form %}
                            <span class="pull-right"><a href="{% url 'comments:reply' comment.id %}"> View Replies</a></span><input type="button" class="reply-textarea-button" value="Add Reply" />
                            <div class="reply-textarea" hidden>
                                <form method="POST" action="" >{% csrf_token %}
                                    {{form|crispy}}
                                    <input type="hidden" id="comment_id" name="comment_id" value="{{comment.id}}" />
                                    <input class="add-reply-button" type="submit" value="Add Reply" />
                                </form>
                            </div>
                        {% else %}
                            <div class="pull-left"><a href="{% url 'comments:reply' comment.id %}"> View Replies</a></div>
                            <br>
                        {% endif %}
                        <hr >
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
