{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
    <div id="comments-section">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                {% if form %}
                    <form method="POST" action="{% url 'comments:thread' 'post' instance.id %}" >{% csrf_token %}
                        {{form|crispy}}
                        <input class="btn btn-default" type="submit" value="Add Comment" />
                    </form>
                {% endif %}
                {% if instance.comments %}
                    <div>
                        <br><br>
                        <strong>{{instance.comment_count}} Comments</strong>
                        {% for comment in instance.comments %}
                            <hr >
                            <blockquote>
                                <p>{{comment.body}}</p>
                                <footer>via {{comment.user.username}} | {{comment.date_added|timesince}} ago </footer>
                                {% for child in comment.children %}
                                <blockquote>
                                    <p>{{child.body}}</p>
                                    <footer>via {{child.user.username}} | {{child.date_added|timesince}} ago {% if request.user == child.user %}<a class="delete-comment pull-right" data-href="{% url 'comments:delete' child.id %}" href=""><i class="fa fa-trash-o" aria-hidden="true"></i></a>{% endif %}</footer>
                                </blockquote>
                                {% endfor %}
                            </blockquote>
                            {% if form %}
                                <span class="pull-right"><a href="{% url 'comments:reply' comment.id %}"> View Replies</a> {% if request.user == comment.user %}| &nbsp;<a class="pull-right" href="{% url 'comments:delete' comment.id %}"><i class="fa fa-trash-o" aria-hidden="true"></i></a>{% endif %}</span><input type="button" class="reply-textarea-button" value="Add Reply" />
                                <div class="reply-textarea" hidden>
                                    <form method="POST" action="{% url 'comments:thread' 'post' instance.id %}" >{% csrf_token %}
                                        {{form|crispy}}
                                        <input type="hidden" id="comment_id" name="comment_id" value="{{comment.id}}" />
                                        <input class="btn btn-default" type="submit" value="Add Reply" />
                                    </form>
                                </div>
                            {% else %}
                                <div class="pull-left"><a href="{% url 'comments:reply' comment.id %}"> View Replies</a></div>
                                <br>
                            {% endif %}
                            <hr >
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
