{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}
    <div id="comments-section">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div>
                    <hr >
                    <blockquote>
                        <p>{{comment.body}}</p>
                        <footer>via {{comment.user.username}} | {{comment.date_added|timesince}} ago </footer>
                        {% for child in comment.children %}
                        <blockquote>
                            <p>{{child.body}}</p>
                            <footer>via {{child.user.username}} | {{child.date_added|timesince}} ago <a class="pull-right" href="{% url 'comments:delete' child.id %}"><i class="fa fa-trash-o" aria-hidden="true"></i></a></footer>
                        </blockquote>
                        {% endfor %}
                    </blockquote>
                    {% if form %}
                        <input type="button" class="reply-textarea-button" value="Add Reply" />
                        <div class="reply-textarea" hidden>
                            <form method="POST" action="{% url 'comments:thread' 'post' comment.object_id %}" >{% csrf_token %}
                                {{form|crispy}}
                                <input type="hidden" id="comment_id" name="comment_id" value="{{comment.id}}" />
                                <input class="btn btn-default" type="submit" value="Add Reply" />
                            </form>
                        </div>
                    {% endif %}
                    <hr >
                </div>
            </div>
        </div>
    </div>
{% endblock %}
