*.pyc
.DS_Store
*.swp
*.egg-info
build/
dist/
*.swo
*.db
.pydevproject
.project
.installed.cfg
.mr.developer.cfg
dev.sh
bin/
develop-eggs/
media/
parts/
src/
/static/
ve/
eggs/
.sass-cache/
local_settings.py
node_modules
node_modules*
bower_components
npm-debug.log
mothership_test
project/settings_local.py
project/settings_local_basic.py
project/settings_local_web.py
project/settings_local_smart.py
fabfile.py
config.ini
celerybeat-schedule
.module-cache
specificity-graph/
.env
.autoenv.zsh
.python-version
.idea/
backstop_data/
.coverage
.pyenv
dump.rdb
tags
phantomcss/images/results
mothership/dealuploader/coverage/
.tox/

