{% extends "base.html" %}

{% block form %}
    {{form.media}}
{% endblock %}

{% block content %}
    <h1>
        CREATE
    </h1>
    <form method="POST" enctype="multipart/form-data" action="">
        {% csrf_token %}
            {% for field in form %}
                <span>{{field.errors}}</span>
                <label>{{field.label_tag}}</label>
                <div>{{ field }}</div>
                <br>
            {% endfor %}
        <input type="submit" value="Create Post"/>
    </form>
{% endblock %}
