{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="post-section">
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                {% if post.image %}
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <img class="post-image" src="{{ post.image.url }}" class="img-responsive">
                        </div>
                    </div>
                {% endif %}
                <h3 class="text-center">{{ post.title }} -- {% if post.draft %} <span style="color: red;">DRAFT</span>{% endif %} -- {{ post.publish_on }}</h3>
                    <div class="post-body">{{ post.body }}</div>
                    <p>Author: {% if post.author.get_full_name %} {{ post.author.get_full_name }} {% else %} {{ post.author.username }} {% endif %}
                        <a class="pull-right" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">&nbsp;&nbsp;
                            <i class="fa fa-facebook-official" aria-hidden="true"></i>
                        </a>
                        <a class="pull-right" href="https://twitter.com/home?status={{ url_string }}@mfundontini%20{{ request.build_absolute_uri }}">&nbsp;&nbsp;
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a class="pull-right" href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ url_string }}&source=http://swiftforentrepreneurs.com/">&nbsp;&nbsp;
                            <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                        </a>
                    </p>
                    <a href="{% url 'posts:update' post.id %}">
                        <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Edit
                    </a>
                    <a class="pull-right" href="{% url 'posts:delete' post.id %}">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;&nbsp;Delete
                    </a>
            </div>
            <hr/>
            <input id="show-comments" type="button" class="btn-primary" value="Show Comments" />
            <div id="comments-section" hidden >
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-2">
                        <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
