{% extends "base.html" %}

{% block style %}
    .no-lines
    {
        text-decoration: none;
    }
    a:hover
    {
        text-decoration: none;
    }
{% endblock %}

{% block content %}
<div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1 class="text-center">
                        Izithakazelo ZesiZulu
                    </h1>
                </div>
            </div>
            <div>
                <a class="no-lines" href="{% url 'posts:create' %}"><span class="lead"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;nawe faka esakho</span></a>
                <br /><br />
                <form method="get"  action="">
                    <div class="input-group" >
                        <input class="form-control" type="text" name="q" placeholder="Search posts" value="{{ request.GET.q }}"/>
                        <span class="input-group-btn "><input class="btn btn-default" type="submit" value="Search" /></span>
                    </div>
                </form>
            </div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <h1>Nazi Esizaziyo Okwamanje:</h1></br>
            {% if posts %}
                {% for post in posts %}
                    <hr>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <h3 class="text-center"><a class="text-center" href="{% url 'posts:detail' post.id %}"><span class="text-center">{{ post.title }}</span></a>{% if post.draft %} -- <span style="color: red;">DRAFT</span>{% endif %}</h3>
                            <h6 class="text-center">{{ post.created|timesince }} ago</h6>
                        </div>
                    </div>
                    </br>
                        <div class="text-justify" >
                            <div class="home-post-body" >{{ post.get_marked_content|truncatechars_html:150 }}</div>
                        </div>
                        <p>Author: {% if post.author.get_full_name %} {{ post.author.get_full_name }} {% else %} {{ post.author.username }} {% endif %}</p>
                        <a href="{% url 'posts:update' post.id %}"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="pull-right" href="{% url 'posts:delete' post.id %}"><i class="fa fa-trash-o" aria-hidden="true"></i>&nbsp;Delete</a>
                    <hr>
                {% endfor %}
                <div class="pagination">
                    <span class="step-links">
                        {% if posts.has_previous %}
                            <a href="?{{ page }}={{ posts.previous_page_number }}&q={{ request.GET.q }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
                        </span>

                        {% if posts.has_next %}
                            <a href="?{{ page }}={{ posts.next_page_number }}&q={{ request.GET.q }}">next</a>
                        {% endif %}
                    </span>
                 </div>
            {% else %}
                Asikakabi nalezo okwamanje, awuzame ezinye
            {% endif %}
        </div>
    </div>

{% endblock %}
